@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 14 23;
  --foreground: 255 255 255;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
